
@font-face {
	font-family:"ChosunKg"; 
	src:url(../fonts/ChosunKg.TTF); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"ChosunBg"; 
	src:url(../fonts/ChosunBg.TTF); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"BCcardB"; 
	src:url(../fonts/BCcardB.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"BCcardL"; 
	src:url(../fonts/BCcardL.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"paybooc_Bold"; 
	src:url(../fonts/paybooc Bold.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"paybooc_ExtraBold"; 
	src:url(../fonts/paybooc ExtraBold.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"paybooc_Light"; 
	src:url(../fonts/paybooc Light.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"paybooc_Medium"; 
	src:url(../fonts/paybooc Medium.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"SLEIGothicTTF"; 
	src:url(../fonts/SLEIGothicTTF.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"OTWelcomeBA"; 
	src:url(../fonts/OTWelcomeBA.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"OTWelcomeRA"; 
	src:url(../fonts/OTWelcomeRA.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"GodoB"; 
	src:url(../fonts/GodoB.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"GodoM"; 
	src:url(../fonts/GodoM.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family:"NEXON Lv2 Gothic Bold"; 
	src:url(../fonts/NEXON Lv2 Gothic Bold.ttf); 
	font-style: normal; 
	font-weight: normal; 
}

