/* 수신/부재중 */
.callSecDiv{
	margin-top:413px;
	display: flex;
	align-items: center;
}

.callmenu{
	font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
}

.rcvCallList li{
	border-bottom: 1px solid #e1e1e1;
	display: table;
	width: 100%;
	height: 29px;
	text-align: center;
}
.rcvCallList li span {
	display: table-cell;
	vertical-align: middle;
}
.rcvCallList li.noMissedCall{
	height: 274px;
	display: table-cell;
	vertical-align: middle;
	width: 330px;
}

.input_sel {
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #C7C7C7;
	padding: 2px;
	margin: 2px;
	height: 20px;
}
.r_table_sel {
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #C7C7C7;
	padding: 3px;
	margin: 2px;
}
.r_table_sel_t{
	font-size: 12px;
	border: 1px solid #C7C7C7;
	padding: 3px;
	margin: 2px;
}
.email {
	width: 60px;
    text-align: right;
    padding-right: 10px;
}

/* .rSearch_btn {
	width: 35px;
    height: 28px;
    font-size: 12px;
    border: 1px solid #C7C7C7;
    background-color: #C7C7C7;
    cursor: pointer;
} */

#rSearch_btn{
	height: 27px;
	width: 30px;
	transform: translateX(-3px);
	cursor: pointer;
}

.stt{
	background-color: rgba(0,64,128,0.1);
	font-weight: 700;
	font-family:auto;
}

.scrollDown{
	position: absolute;
    left: 1068px;
    bottom: 340px;
}

#chk_top input {
	margin-left: 30px;
}

#functionKeyImg{
	position: absolute;
	top: 109px;
	left: 428px;
}

#functionKeyTb {
	position: absolute;
	top: 110px;
	left: 460px;
}

#functionKeyTb th {
	padding-left: 40px;
}

#functionKeyTb td {
	font-size: 11px;
}

#btn_informerSend {
    position: absolute;
    border: grey;
    font-size: 12px;
}

#resultListTotal {
	padding-bottom: 3px;
	width: 1400px;
}

.rpt-informer{
    display: flex;
    align-items: center;
}

.rpt-ifm-image{
    width: 30px;
    height: 30px;
    margin: 7px 3px 7px 7px;
    background: url(../images/receipt-informer1.png) no-repeat;
    background-size: contain;
}

.rpt-informer h3{
	font-family: 'SLEIGothicTTF';
	font-size: 15px;
	font-weight: 100;
}

#icoRcpExplain{
	width: 291px;
	height: 25px;
	padding: 3px 0 0 15px;
}

/* 전송/방송/지도 아이콘 설명 */
.icon-comment{
	position: absolute;
    top: 168px;
    left: 900px;
    width: 500px;
    height: 30px;
    vertical-align: middle;
    display: flex;
    align-items: center;
    JUSTIFY-CONTENT: space-evenly;
}

/* 금일접수현황 관련 */

/* 검색영역 */
.popupSearch{
	width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background: linear-gradient(#F1F1F1,#F2F2F2,#fff,#F2F2F2);
    border-radius: 14px;
    justify-content: space-around;
    border: 1px solid #2b3461;
    margin-bottom: 15px;
}


.receiptPopListHead li {
    display: table;
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #b7b7b7;
    text-align: center;
    border-top: 2px solid #a8b4c4;
}
.receiptPopListHead li span {
    display: table-cell;
    vertical-align: middle;
    font-weight: 700;
    background-color: #f2f2f2;
    font-size: 13px;
}

.receivedList{
	width: 1400px;
    height: 550px;
    overflow: auto;
}

.receivedList li {
    display: table;
    width: 100%;
    height: 33px;
    border-bottom: 1px solid #b7b7b7;
    text-align: center;
}

.receiptPopList li span {
    display: table-cell;
    vertical-align: middle;
    font-size: 13px;
}
