<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wizbrain.tbn.infrm.mapper.InfrmMapper">
<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2020.07.23 정다빈     최초 생성 
-->

	<!-- 전체 사용자 조회 -->
	<resultMap type="infrmVO" id="selectInfrmList">
		<result property="informerId" 		column="INFORMER_ID"/>
		<result property="actId" 			column="ACT_ID"/>
		<result property="areaCode" 		column="AREA_CODE"/>
		<result property="areaName" 		column="AREA_NAME"/>
		<result property="informerName" 	column="INFORMER_NAME"/>
		<result property="phoneCell" 		column="PHONE_CELL"/>
		<result property="informerType" 	column="INFORMER_TYPE"/>
		<result property="informerTypeName" column="INFORMER_TYPE_NAME"/>
		<result property="orgId" 			column="ORG_ID"/>
		<result property="orgName" 			column="ORG_NAME"/>
		<result property="regDate" 			column="REG_DATE"/>
		<result property="flagAct" 			column="FLAG_ACT"/>
		<result property="addressHome" 			column="ADDRESS_HOME"/>
	</resultMap>
	
	
	<!--  24-11-21 : 통신원 월별 제보건수 -->
	<select id="monthReport" resultType="InfrmVO">
	 <![CDATA[
	    SELECT /*+ INDEX(report_receipt MONTHREPORT)*/
	        TO_CHAR(RECEIPT_DAY, 'MM') AS month, 
	        COUNT(*) AS row_count  
	    FROM 
	        report_receipt
	    WHERE 
	        INDIVIDUAL_ID = #{informerId}
	        AND RECEIPT_DAY >= TO_DATE(#{selectYear1}, 'YYYY-MM-DD') 
	        AND RECEIPT_DAY <= TO_DATE(#{selectYear2}, 'YYYY-MM-DD') 
	    GROUP BY 
	        TO_CHAR(RECEIPT_DAY, 'MM')
	    ORDER BY 
	        month
    ]]>
	</select>

	<select id="selectInfrmList" parameterType="infrmVO" resultMap="selectInfrmList">
    SELECT T.* FROM
    (
        SELECT J2.*
        ,NVL(D.ORG_NAME,'무소속') AS ORG_NAME
        FROM
        (
			SELECT J1.*
            ,C.TYPE_NAME AS INFORMER_TYPE_NAME
            FROM
            (
                SELECT
                A.INFORMER_ID	
                ,A.ACT_ID	
                ,A.INFORMER_NAME	
                ,A.AREA_CODE		
                ,REPLACE(B.AREA_NAME,'교통방송','') AS AREA_NAME
				
				,CASE WHEN PHONE_CELL IS NULL OR PHONE_CELL = '' 
                    THEN 
                        CASE WHEN PHONE_HOME IS NULL OR PHONE_HOME = '' 
                             THEN REGEXP_REPLACE(PHONE_OFFICE, '(02|.{3})(.+)(.{4})', '\1-\2-\3') 
                        ELSE REGEXP_REPLACE(PHONE_HOME, '(02|.{3})(.+)(.{4})', '\1-\2-\3')  
                        END
                     ELSE REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3')
				END AS phone_cell 
				
                <!--,REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3') as phone_cell2-->
				
                ,A.INFORMER_TYPE 	
                ,A.ORG_ID
                ,A.FLAG_ACT		
                ,A.REG_DATE		
                ,NVL(A.ADDRESS_HOME,'미입력') as ADDRESS_HOME
                FROM INFORMER A
                LEFT JOIN CODE_AREACODE B
                ON A.AREA_CODE=B.AREA_CODE
            )J1
            LEFT JOIN CODE_INFORMER_TYPE C
            ON J1.informer_type=C.TYPE_ID
        )J2
        LEFT JOIN ORGANIZATION D
        ON  J2.AREA_CODE=D.AREA_CODE
		AND J2.ORG_ID=D.ORG_ID
        AND J2.INFORMER_TYPE=D.IND_TYPE
    )T
			WHERE 1=1
			<if test="informerId != null and !informerId.equals('')">
				AND T.INFORMER_ID=#{informerId}
			</if>
			<if test="areaCode != null  and !areaCode.equals('')">
				AND T.AREA_CODE=#{areaCode}
			</if>
			<if test="informerType != null and !informerType.equals('')">
				AND T.informer_type=#{informerType}
			</if>
			<!-- 무소속 대문에 아래와 같이 해야함... -->
			<if test="orgId != null and !orgId.equals('')">
				AND T.ORG_ID=#{orgId}
			</if>
			<if test="flagAct != null and !flagAct.equals('')">
				AND T.FLAG_ACT=#{flagAct}
			</if>
			<if test="searchValue != null and !searchValue.equals('')">
			    <choose>
					<when test="searchType.equals('actId')">
						AND T.ACT_ID LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType.equals('informerName')">
						AND T.INFORMER_NAME LIKE '%'||#{searchValue}||'%'
					</when>
					<otherwise>
						AND T.phone_cell LIKE '%'||#{searchValue}||'%'
					</otherwise>					        
			    </choose>
			</if>
			<if test="sDate != null and  eDate != null and !sDate.equals('') and !eDate.equals('')">
		    	AND T.REG_DATE BETWEEN #{sDate} AND TO_DATE(#{eDate}, 'YYYY-MM-DD')+1
			</if>
				
			ORDER BY T.REG_DATE DESC nulls last
	</select>
	
	<!--  특정 사용자 조회 -->
	<resultMap type="infrmVO" id="detailInformer">
		<result property="informerId" column="INFORMER_ID"/>
		<result property="actId" column="ACT_ID"/>
		<result property="informerName" column="INFORMER_NAME"/>
		<result property="orgId" column="ORG_ID"/>
		<result property="phoneCell" column="PHONE_CELL"/>
		<result property="orgSubId" column="ORG_SUB_ID"/>
		<result property="phoneHome" column="PHONE_HOME"/>
		<result property="phoneOffice" column="PHONE_OFFICE"/>
		<result property="informerType" column="INFORMER_TYPE"/>
		<result property="informerTypeName" column="INFORMER_TYPE_NAME"/>
		<result property="memo1" column="MEMO1"/>
		<result property="memo" column="MEMO"/>
		<result property="zipcode" column="ZIPCODE"/>
		<result property="addressHome" column="ADDRESS_HOME"/>
		<result property="address" column="ADDRESS"/>
		<result property="zipcode2" column="ZIPCODE2"/>
		<result property="addressOffice" column="ADDRESS_OFFICE"/>
		<result property="residentNum" column="RESIDENT_NUM"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="carNum" column="CAR_NUM"/>
		<result property="comments" column="COMMENTS"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="delDate" column="DEL_DATE"/>
		<result property="updDate" column="UPD_DATE"/>
		<result property="localFilePath" column="PHOTO_FILE"/>
		<result property="individualNameChina" column="INDIVIDUAL_NAME_CHINA"/>
		<result property="carType" column="CAR_TYPE"/>
		<result property="trsNo" column="TRS_NO"/>
		<result property="lastSchool" column="LAST_SCHOOL"/>
		<result property="areaCode" column="AREA_CODE"/>
		<result property="honor" column="HONOR"/>
		<result property="agree" column="AGREE"/>
		<result property="flagBlacklist" column="FLAG_BLACKLIST"/>
		<result property="memo2" column="MEMO2"/>
		<result property="identifiDate" column="IDENTIFI_DATE"/>
		<result property="flagService" column="FLAG_SERVICE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="stopDate" column="STOP_DATE"/>
		<result property="birthdayDiv" column="BIRTHDAY_DIV"/>
		<result property="informerJob" column="INFORMER_JOB"/>
		<result property="flagBroad" column="FLAG_BROAD"/>
		<result property="flagAct" column="FLAG_ACT"/>
		<result property="areaName" column="AREA_NAME"/>
	</resultMap>
	<select id="detailInformer" parameterType="infrmVO" resultMap="detailInformer">
		SELECT
			A.INFORMER_ID	
			,A.ACT_ID	
			,A.ORG_ID
			,A.ORG_SUB_ID	
			,A.INFORMER_NAME	
			,A.AREA_CODE		
			,B.AREA_NAME		
			,A.PHONE_CELL
			,A.PHONE_HOME
			,A.PHONE_OFFICE
			,A.INFORMER_TYPE 	
			,C.TYPE_NAME INFORMER_TYPE_NAME
			,A.FLAG_ACT		
			,A.REG_DATE		
			,A.START_DATE	
			,A.STOP_DATE
			,A.MEMO1
			,A.MEMO
			,A.ZIPCODE
			,A.ADDRESS_HOME
			,A.ADDRESS
			,A.ZIPCODE2
			,A.ADDRESS_OFFICE
			,A.RESIDENT_NUM
			,A.BIRTHDAY
			,A.CAR_NUM
			,A.COMMENTS
			,A.REG_DATE
			,A.DEL_DATE
			,A.UPD_DATE
			,A.PHOTO_FILE
			,A.INDIVIDUAL_NAME_CHINA
			,A.CAR_TYPE
			,A.TRS_NO
			,A.LAST_SCHOOL
			,A.AREA_CODE
			,A.HONOR
			,A.AGREE
			,A.FLAG_BLACKLIST
			,A.MEMO2
			,A.IDENTIFI_DATE
			,A.FLAG_SERVICE
			,A.START_DATE
			,A.STOP_DATE
			,A.BIRTHDAY_DIV
			,A.INFORMER_JOB
			,A.FLAG_BROAD
			,A.FLAG_ACT		
			FROM INFORMER A
			LEFT JOIN CODE_AREACODE B
			ON A.AREA_CODE=B.AREA_CODE
			LEFT JOIN CODE_INFORMER_TYPE C
			ON a.informer_type=C.TYPE_ID
			WHERE 1=1
			<if test='informerId !=null and informerId neq ""'>
				AND A.INFORMER_ID=#{informerId}
			</if>
	</select>
	
	<!-- 신규ID -->
	<select id="getNewId" parameterType="infrmVo" resultType="java.lang.String">
	    select infrm_div||TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS') as informerId 
	    from code_areacode 
	    where area_code=#{areaCode}
	</select>
	
	<select id="creActId" parameterType="infrmVo" resultType="java.lang.String">
	    SELECT NVL(max(TO_NUMBER(ACT_ID)),0)+1 as actId FROM INFORMER
	    WHERE AREA_CODE=#{areaCode} 
	    <!-- 숫자인 값만 식별(비숫자인데 연산할 경우 에러 발생) -->
	    and REGEXP_INSTR(act_id,'[^0-9]')=0
	</select>
	
	<select id="chkPhone" parameterType="infrmVo" resultType="java.lang.String">
	    SELECT distinct PHONE_CELL as phoneCell FROM INFORMER
	    WHERE PHONE_CELL=#{phoneCell}
	    <if test='informerId !=null and informerId neq ""'>
	    	AND INFORMER_ID!=#{informerId}	        
	    </if>
	</select>
	
	<!-- 사용자 등록 -->
	<insert id="saveInformer" parameterType="infrmVo">
 		INSERT INTO INFORMER
              (
				INFORMER_ID
				,ACT_ID
				,INFORMER_NAME
				,ORG_ID
				,PHONE_CELL
				,ORG_SUB_ID
				,PHONE_HOME
				,PHONE_OFFICE
				,INFORMER_TYPE
				,INFORMER_JOB
				,MEMO1
				,MEMO
				,ADDRESS
				,ADDRESS_HOME
				,ADDRESS_OFFICE
				,RESIDENT_NUM
				,BIRTHDAY
				,CAR_NUM
				,REG_DATE
				,UPD_DATE
				<if test='localFilePath !=null and localFilePath neq ""'>
				,PHOTO_FILE
				</if>
				,CAR_TYPE
				,TRS_NO
				,LAST_SCHOOL
				,AREA_CODE
				,HONOR
				,MEMO2
				,IDENTIFI_DATE
				,FLAG_SERVICE
				<if test='startDate !=null and startDate neq ""'>
				,START_DATE
				</if>
				<if test='stopDate !=null and stopDate neq ""'>
				,STOP_DATE
				</if>
				,BIRTHDAY_DIV
				,FLAG_BROAD
				,ZIPCODE
				,ZIPCODE2
             )
        VALUES
             (
			#{informerId}
			,#{actId}
			,#{informerName}
			,#{orgId}
			,#{phoneCell}
			,#{orgSubId}
			,#{phoneHome}
			,#{phoneOffice}
			,#{informerType}
			,#{informerJob}
			,#{memo1}
			,#{memo}
			,#{address}
			,#{addressHome}
			,#{addressOffice}
			,#{residentNum}
			,#{birthday}
			,#{carNum}
			,TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			,TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			<if test='localFilePath !=null and localFilePath neq ""'>
			,#{localFilePath}
			</if>
			,#{carType}
			,#{trsNo}
			,#{lastSchool}
			,#{areaCode}
			,#{honor}
			,#{memo2}
			,#{identifiDate}
			,#{flagService}
			<if test='startDate !=null and startDate neq ""'>
			,#{startDate}
			</if>
			<if test='stopDate !=null and stopDate neq ""'>
			,#{stopDate}
			</if>
			,#{birthdayDiv}
			,#{flagBroad}
			,#{zipcode}
			,#{zipcode2}
             ) 
	</insert>
	<!-- 통신원 변경 저장 -->
    <update id="updateInformer" parameterType="infrmVo">
        UPDATE INFORMER SET 
		AREA_CODE = #{areaCode}
		,ACT_ID = #{actId}
		,INFORMER_NAME = #{informerName}
		<if test='orgId!=null'>
		,ORG_ID = #{orgId}
		,ORG_NAME = (SELECT ORG_NAME FROM ORGANIZATION WHERE ORG_ID = #{orgId} AND AREA_CODE = #{areaCode})
		</if>
		<if test='orgSubId != null'>
		,ORG_SUB_ID = #{orgSubId}
		</if>
		,PHONE_CELL = #{phoneCell}
		<if test='informerJob != null'>
		,INFORMER_JOB = #{informerJob}
		</if>
		<if test='flagAct != null'>
		,FLAG_ACT = #{flagAct}
		</if>
		<if test='phoneHome != null'>
		,PHONE_HOME = #{phoneHome}
		</if>
		<if test='phoneOffice != null'>
		,PHONE_OFFICE = #{phoneOffice}
		</if>
		<if test='flagBroad != null'>
		,FLAG_BROAD = #{flagBroad}
		</if>
		,INFORMER_TYPE = #{informerType}
		<if test='memo != null'>
		,MEMO = #{memo}
		</if>
		<if test='memo1 != null'>
		,MEMO1 = #{memo1}
		</if>
		<if test='zipcode != null'>
		,ZIPCODE = #{zipcode}
		</if>
		<if test='address != null'>
		,ADDRESS = #{address}
		</if>
		<if test='addressHome != null'>
		,ADDRESS_HOME = #{addressHome}
		</if>
		<if test='zipcode2 != null'>
		,ZIPCODE2 = #{zipcode2}
		</if>
		<if test='addressOffice != null'>
		,ADDRESS_OFFICE = #{addressOffice}
		</if>
		<if test='residentNum != null'>
		,RESIDENT_NUM = #{residentNum}
		</if>
		<if test='birthday != null'>
		,BIRTHDAY = #{birthday}
		</if>
		<if test='carNum != null'>
		,CAR_NUM = #{carNum}
		</if>
		<if test='memo2 != null'>
		,MEMO2 = #{memo2}
		</if>
		<if test='localFilePath != null'>
		,PHOTO_FILE = #{localFilePath}
		</if>
		<if test='individualNameChina != null'>
		,INDIVIDUAL_NAME_CHINA = #{individualNameChina}
		</if>
		<if test='carType != null'>
		,CAR_TYPE = #{carType}
		</if>
		<if test='trsNo != null'>
		,TRS_NO = #{trsNo}
		</if>
		<if test='lastSchool != null'>
		,LAST_SCHOOL = #{lastSchool}
		</if>
		<if test='identifiDate != null'>
		,IDENTIFI_DATE = #{identifiDate}
		</if>
		<if test='agree != null'>
		,AGREE = #{agree}
		</if>
		<if test='birthdayDiv != null'>
		,BIRTHDAY_DIV = #{birthdayDiv}
		</if>
		<if test='honor != null'>
		,HONOR = #{honor}
		</if>
		<if test='flagService != null'>
		,FLAG_SERVICE = #{flagService}
		</if>
        ,STOP_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
        ,UPD_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
         WHERE INFORMER_ID =  #{informerId}
    </update>
    
    <!-- 통신원 삭제 -->
    <delete id="deleteInformer" parameterType="infrmVo">
         delete from INFORMER WHERE INFORMER_ID = #{informerId}
    </delete>
	<!-- 사용자 정보 수정 -->
	<update id="saveInformerHist" parameterType="infrmVo">
        INSERT INTO INFORMER_HISTORY
              (
               INFORMER_HIST_ID,
               INFORMER_ID,
               REGION_ID,
               UPDATE_CODE,
               UPDATE_TEXT,
               UPDATE_DATE
             )
        VALUES
             (
               (SELECT TO_CHAR(SYSDATE,'YYYYMM') FROM DUAL) || LPAD(SEQ_INFORMER_HISTORY.NEXTVAL,6,'0'),
               #{informerId},
               #{areaCode},
               #{updateCode},
               #{updateText},
               TO_CHAR(SYSDATE, 'YYYY-MM-DD')
             )
    </update>
	
	 <!-- ACT ID 수정(신규로 발급 받은경우, 신규 값으로.... -->
    <!-- <update id="updateActId" parameterType="infrmVo">
        UPDATE INFORMER_ACT_ID SET
               LAST_ID = #{actId}
         WHERE REGION_ID = #{areaCode}
    </update> -->
	<!-- 이력 구분 코드 -->
    <select id="getUpdateCode" parameterType="infrmVo" resultType="java.lang.String">
        SELECT IR_COMMENT AS updateComment FROM informer_record WHERE IR_CODE=#{updateCode}
    </select>
	
     <!-- 이력 정보 -->
     <resultMap type="infrmVO" id="getInformerHistory">
		<result property="updateText" column="UPDATE_TEXT"/>
		<result property="updateDate" column="UPDATE_DATE"/>
	</resultMap>
    <select id="getInformerHistory" parameterType="infrmVo" resultMap="getInformerHistory">
        SELECT UPDATE_TEXT, UPDATE_DATE FROM INFORMER_HISTORY
         WHERE 1 = 1
         <if test='informerId !=null'>
           AND INFORMER_ID = #{informerId}
         </if>
         ORDER BY INFORMER_HIST_ID DESC
    </select>
    
</mapper>