<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.wizbrain.tbn.infrm.mapper.InfrmMapper">
<!-- 
수정일           수정자         수정내용 
========= ======= ================================================= 
2020.07.23 정다빈     최초 생성 
2025.11.24 정다빈     git test 1548  
-->

	<!-- 전체 사용자 조회 -->
	<resultMap type="infrmVO" id="informerMap">
		<result property="informerId" column="INFORMER_ID"/>
		<result property="actId" column="ACT_ID"/>
		<result property="informerName" column="INFORMER_NAME"/>
		<result property="orgId" column="ORG_ID"/>
		<result property="orgName" column="ORG_NAME"/>
		<result property="phoneCell" column="PHONE_CELL"/>
		<result property="orgSubId" column="ORG_SUB_ID"/>
		<result property="phoneHome" column="PHONE_HOME"/>
		<result property="phoneOffice" column="PHONE_OFFICE"/>
		<result property="informerType" column="INFORMER_TYPE"/>
		<result property="informerTypeName" column="INFORMER_TYPE_NAME"/>
		<result property="memo1" column="MEMO1"/>
		<result property="memo" column="MEMO"/>
		<result property="zipcode" column="ZIPCODE"/>
		<result property="addressHome" column="ADDRESS_HOME"/>
		<result property="address" column="ADDRESS"/>
		<result property="zipcode2" column="ZIPCODE2"/>
		<result property="addressOffice" column="ADDRESS_OFFICE"/>
		<result property="residentNum" column="RESIDENT_NUM"/>
		<result property="birthday" column="BIRTHDAY"/>
		<result property="carNum" column="CAR_NUM"/>
		<result property="comments" column="COMMENTS"/>
		<result property="regDate" column="REG_DATE"/>
		<result property="delDate" column="DEL_DATE"/>
		<result property="updDate" column="UPD_DATE"/>
		<result property="localFilePath" column="PHOTO_FILE"/>
		<result property="individualNameChina" column="INDIVIDUAL_NAME_CHINA"/>
		<result property="carType" column="CAR_TYPE"/>
		<result property="trsNo" column="TRS_NO"/>
		<result property="lastSchool" column="LAST_SCHOOL"/>
		<result property="areaCode" column="AREA_CODE"/>
		<result property="honor" column="HONOR"/>
		<result property="agree" column="AGREE"/>
		<result property="flagBlacklist" column="FLAG_BLACKLIST"/>
		<result property="memo2" column="MEMO2"/>
		<result property="identifiDate" column="IDENTIFI_DATE"/>
		<result property="flagService" column="FLAG_SERVICE"/>
		<result property="startDate" column="START_DATE"/>
		<result property="stopDate" column="STOP_DATE"/>
		<result property="birthdayDiv" column="BIRTHDAY_DIV"/>
		<result property="informerJob" column="INFORMER_JOB"/>
		<result property="flagBroad" column="FLAG_BROAD"/>
		<result property="flagAct" column="FLAG_ACT"/>
		<result property="flagBest" column="FLAG_BEST"/>
		<result property="areaName" column="AREA_NAME"/>
	</resultMap>
	
	<!--  24-11-21 : 통신원 월별 제보건수 -->
	<select id="monthReport" resultType="InfrmVO">
	 <![CDATA[
	    SELECT /*+ INDEX(report_receipt MONTHREPORT)*/
	        TO_CHAR(RECEIPT_DAY, 'MM') AS month, 
	        COUNT(*) AS row_count  
	    FROM 
	        report_receipt
	    WHERE 
	        INDIVIDUAL_ID = #{informerId}
	        AND RECEIPT_DAY >= TO_DATE(#{selectYear1}, 'YYYY-MM-DD') 
	        AND RECEIPT_DAY <= TO_DATE(#{selectYear2}, 'YYYY-MM-DD') 
	    GROUP BY 
	        TO_CHAR(RECEIPT_DAY, 'MM')
	    ORDER BY 
	        month
    ]]>
	</select>

	<!-- 무한 스크롤 적용 전 / 전체 건수 가져오기 : 변경 전 id = selectInfrmList -->
	<select id="countInfrmList" resultMap="informerMap">
    SELECT T.* FROM
    (
        SELECT J2.*
        ,NVL(D.ORG_NAME,'무소속') AS ORG_NAME
        FROM
        (
			SELECT J1.*
            ,C.TYPE_NAME AS INFORMER_TYPE_NAME
            FROM
            (
                SELECT
                A.INFORMER_ID	
                ,A.ACT_ID	
                ,A.INFORMER_NAME	
                ,A.AREA_CODE		
                ,REPLACE(B.AREA_NAME,'교통방송','') AS AREA_NAME
				
				,CASE WHEN PHONE_CELL IS NULL OR PHONE_CELL = '' 
                    THEN 
                        CASE WHEN PHONE_HOME IS NULL OR PHONE_HOME = '' 
                             THEN REGEXP_REPLACE(PHONE_OFFICE, '(02|.{3})(.+)(.{4})', '\1-\2-\3') 
                        ELSE REGEXP_REPLACE(PHONE_HOME, '(02|.{3})(.+)(.{4})', '\1-\2-\3')  
                        END
                     ELSE REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3')
				END AS phone_cell 
				
                ,REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3') as phone_cell2
				
                ,A.INFORMER_TYPE 	
                ,A.ORG_ID
                ,A.FLAG_ACT		
                ,A.REG_DATE		
                ,NVL(A.ADDRESS_HOME,'미입력') as ADDRESS_HOME
                FROM INFORMER A
                LEFT JOIN CODE_AREACODE B
                ON A.AREA_CODE=B.AREA_CODE
            )J1
            LEFT JOIN CODE_INFORMER_TYPE C
            ON J1.informer_type=C.TYPE_ID
        )J2
        LEFT JOIN ORGANIZATION D
        ON  J2.AREA_CODE=D.AREA_CODE
		AND J2.ORG_ID=D.ORG_ID
        AND J2.INFORMER_TYPE=D.IND_TYPE
    )T
			WHERE 1=1
			<if test="informerId != null and !informerId.equals('')">
				AND T.INFORMER_ID=#{informerId}
			</if>
			<if test="areaCode != null  and !areaCode.equals('')">
				AND T.AREA_CODE=#{areaCode}
			</if>
			<if test="informerType != null and !informerType.equals('')">
				AND T.informer_type=#{informerType}
			</if>
			<!-- 무소속 대문에 아래와 같이 해야함... -->
			<if test="orgId != null and !orgId.equals('')">
				AND T.ORG_ID=#{orgId}
			</if>
			<if test="flagAct != null and !flagAct.equals('')">
				AND T.FLAG_ACT=#{flagAct}
			</if>
			<if test="searchValue != null and !searchValue.equals('')">
			    <choose>
					<when test="searchType.equals('actId')">
						AND T.ACT_ID LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType.equals('informerName')">
						AND T.INFORMER_NAME LIKE '%'||#{searchValue}||'%'
					</when>
					<otherwise>
						AND T.phone_cell LIKE '%'||#{searchValue}||'%'
					</otherwise>					        
			    </choose>
			</if>
			<if test="sDate != null and  eDate != null and !sDate.equals('') and !eDate.equals('')">
		    	AND T.REG_DATE BETWEEN #{sDate} AND TO_DATE(#{eDate}, 'YYYY-MM-DD')+1
			</if>
				
			ORDER BY T.REG_DATE DESC nulls last
	</select>
	
	
	
	<!-- 엑셀 다운로드 -->
	<select id="selectInfrmList" parameterType="infrmVO" resultMap="informerMap">
    SELECT T.*
			, CASE 
		        WHEN T.FLAG_ACT_SUB = 'Y' THEN '위촉'
		        ELSE '해촉'
		    END AS FLAG_ACT
 	FROM
    (
        SELECT J2.*
        ,NVL(D.ORG_NAME,'무소속') AS ORG_NAME
        FROM
        (
			SELECT J1.*
            ,C.TYPE_NAME AS INFORMER_TYPE_NAME
            FROM
            (
                SELECT
                A.INFORMER_ID	
                ,NVL(A.ACT_ID , '정보없음') as ACT_ID	 
                ,NVL(A.INFORMER_NAME, '정보없음') as INFORMER_NAME	
                ,A.AREA_CODE		
                ,REPLACE(B.AREA_NAME,'교통방송','') AS AREA_NAME
				
				,CASE WHEN PHONE_CELL IS NULL OR PHONE_CELL = '' 
                    THEN 
                        CASE WHEN PHONE_HOME IS NULL OR PHONE_HOME = '' 
                             THEN REGEXP_REPLACE(PHONE_OFFICE, '(02|.{3})(.+)(.{4})', '\1-\2-\3') 
                        ELSE REGEXP_REPLACE(PHONE_HOME, '(02|.{3})(.+)(.{4})', '\1-\2-\3')  
                        END
                     ELSE REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3')
				END AS phone_cell 
				
                <!--,REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3') as phone_cell2-->
				,A.ZIPCODE
                ,A.INFORMER_TYPE 	
                ,A.ORG_ID
                ,A.FLAG_ACT as FLAG_ACT_SUB		
                ,NVL(A.REG_DATE, '정보없음') as REG_DATE		
                ,NVL(A.ADDRESS_HOME,'미입력') as ADDRESS_HOME
                
				<!-- 강원 이경희 차장 요청사항으로 신규항목 추가 260120 -->                
                <if test="selectedCols != null and selectedCols.size() > 0">
                ,
			    <foreach collection="selectedCols"
			             item="col"
			             separator=",">
					<choose>
					    <when test="col == 'HONOR'">
					        CASE
					            WHEN A.HONOR = 'Y' THEN 'O'
					            WHEN A.HONOR = 'N' THEN 'X'
					            ELSE ''
					        END AS HONOR
					    </when>
					
					    <when test="col == 'FLAG_BEST'">
					        CASE
					            WHEN A.FLAG_BEST = 'Y' THEN 'O'
					            WHEN A.FLAG_BEST = 'N' THEN 'X'
					            ELSE ''
					        END AS FLAG_BEST
					    </when>
					
					    <when test="col == 'FLAG_BROAD'">
					        CASE
					            WHEN A.FLAG_BROAD = 'Y' THEN 'O'
					            WHEN A.FLAG_BROAD = 'N' THEN 'X'
					            ELSE ''
					        END AS FLAG_BROAD
					    </when>
					
					    <otherwise>
					        A.${col}
					    </otherwise>
					</choose>

			    </foreach>
			</if>
                
                
                FROM INFORMER A
                LEFT JOIN CODE_AREACODE B
                ON A.AREA_CODE=B.AREA_CODE
            )J1
            LEFT JOIN CODE_INFORMER_TYPE C
            ON J1.informer_type=C.TYPE_ID
        )J2
        LEFT JOIN ORGANIZATION D
        ON  J2.AREA_CODE=D.AREA_CODE
		AND J2.ORG_ID=D.ORG_ID
        AND J2.INFORMER_TYPE=D.IND_TYPE
    )T
			WHERE 1=1
			<if test="InfrmVO.informerId != null and !InfrmVO.informerId.equals('')">
				AND T.INFORMER_ID=#{InfrmVO.informerId}
			</if>
			<if test="InfrmVO.areaCode != null  and !InfrmVO.areaCode.equals('')">
				AND T.AREA_CODE=#{InfrmVO.areaCode}
			</if>
			<if test="InfrmVO.informerType != null and !InfrmVO.informerType.equals('')">
				AND T.informer_type=#{InfrmVO.informerType}
			</if>
			<!-- 무소속 대문에 아래와 같이 해야함... -->
			<if test="InfrmVO.orgId != null and !InfrmVO.orgId.equals('')">
				AND T.ORG_ID=#{InfrmVO.orgId}
			</if>
			<if test="InfrmVO.flagAct != null and !InfrmVO.flagAct.equals('')">
				AND T.FLAG_ACT_SUB=#{InfrmVO.flagAct}
			</if>
			<if test="InfrmVO.searchValue != null and !InfrmVO.searchValue.equals('')">
			    <choose>
					<when test="InfrmVO.searchType.equals('actId')">
						AND T.ACT_ID LIKE '%'||#{InfrmVO.searchValue}||'%'
					</when>
					<when test="InfrmVO.searchType.equals('informerName')">
						AND T.INFORMER_NAME LIKE '%'||#{InfrmVO.searchValue}||'%'
					</when>
					<otherwise>
						AND T.phone_cell LIKE '%'||#{InfrmVO.searchValue}||'%'
					</otherwise>					        
			    </choose>
			</if>
			<if test="InfrmVO.sDate != null and  InfrmVO.eDate != null and !InfrmVO.sDate.equals('') and !InfrmVO.eDate.equals('')">
		    	AND T.REG_DATE BETWEEN #{InfrmVO.sDate} AND #{InfrmVO.eDate}
			</if>
			<if test="InfrmVO.downFlag != 1">
				AND ROWNUM <![CDATA[<=]]> 20
			</if>
			ORDER BY T.ACT_ID ASC nulls last
			
	</select>
	
	
	<select id="selectInfrmList20" parameterType="infrmVO" resultMap="informerMap">
    SELECT T.*
			, CASE 
		        WHEN T.FLAG_ACT_SUB = 'Y' THEN '위촉'
		        ELSE '해촉'
		    END AS FLAG_ACT
 	FROM
    (
        SELECT J2.*
        ,NVL(D.ORG_NAME,'무소속') AS ORG_NAME
        FROM
        (
			SELECT J1.*
            ,C.TYPE_NAME AS INFORMER_TYPE_NAME
            FROM
            (
                SELECT
                A.INFORMER_ID	
                ,NVL(A.ACT_ID , '정보없음') as ACT_ID	 
                ,NVL(A.INFORMER_NAME, '정보없음') as INFORMER_NAME	
                ,A.AREA_CODE		
                ,REPLACE(B.AREA_NAME,'교통방송','') AS AREA_NAME
				
				,CASE WHEN PHONE_CELL IS NULL OR PHONE_CELL = '' 
                    THEN 
                        CASE WHEN PHONE_HOME IS NULL OR PHONE_HOME = '' 
                             THEN REGEXP_REPLACE(PHONE_OFFICE, '(02|.{3})(.+)(.{4})', '\1-\2-\3') 
                        ELSE REGEXP_REPLACE(PHONE_HOME, '(02|.{3})(.+)(.{4})', '\1-\2-\3')  
                        END
                     ELSE REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3')
				END AS phone_cell 
				
                <!--,REGEXP_REPLACE(phone_cell, '(02|.{3})(.+)(.{4})', '\1-\2-\3') as phone_cell2-->
				,A.ZIPCODE
                ,A.INFORMER_TYPE 	
                ,A.ORG_ID
                ,A.FLAG_ACT as FLAG_ACT_SUB		
                ,NVL(A.REG_DATE, '정보없음') as REG_DATE		
                ,NVL(A.ADDRESS_HOME,'미입력') as ADDRESS_HOME
                
				<!-- 강원 이경희 차장 요청사항으로 신규항목 추가 260120 -->                
                ,A.TRS_NO
				,A.MEMO1
				,A.HONOR
				,A.BIRTHDAY
				,A.IDENTIFI_DATE
				,A.FLAG_SERVICE
				,A.MEMO
				,A.ADDRESS_OFFICE
				,A.PHONE_HOME
				,A.CAR_NUM
				,A.CAR_TYPE
				,A.FLAG_BEST
				,A.UPD_DATE
				,A.LAST_SCHOOL
				,A.memo2
				,A.FLAG_BROAD
				,A.INFORMER_JOB
				,A.PHONE_OFFICE
                
                
                FROM INFORMER A
                LEFT JOIN CODE_AREACODE B
                ON A.AREA_CODE=B.AREA_CODE
            )J1
            LEFT JOIN CODE_INFORMER_TYPE C
            ON J1.informer_type=C.TYPE_ID
        )J2
        LEFT JOIN ORGANIZATION D
        ON  J2.AREA_CODE=D.AREA_CODE
		AND J2.ORG_ID=D.ORG_ID
        AND J2.INFORMER_TYPE=D.IND_TYPE
    )T
			WHERE 1=1
			<if test="informerId != null and !informerId.equals('')">
				AND T.INFORMER_ID=#{informerId}
			</if>
			<if test="areaCode != null  and !areaCode.equals('')">
				AND T.AREA_CODE=#{areaCode}
			</if>
			<if test="informerType != null and !informerType.equals('')">
				AND T.informer_type=#{informerType}
			</if>
			<!-- 무소속 대문에 아래와 같이 해야함... -->
			<if test="orgId != null and !orgId.equals('')">
				AND T.ORG_ID=#{orgId}
			</if>
			<if test="flagAct != null and !flagAct.equals('')">
				AND T.FLAG_ACT_SUB=#{flagAct}
			</if>
			<if test="searchValue != null and !searchValue.equals('')">
			    <choose>
					<when test="searchType.equals('actId')">
						AND T.ACT_ID LIKE '%'||#{searchValue}||'%'
					</when>
					<when test="searchType.equals('informerName')">
						AND T.INFORMER_NAME LIKE '%'||#{searchValue}||'%'
					</when>
					<otherwise>
						AND T.phone_cell LIKE '%'||#{searchValue}||'%'
					</otherwise>					        
			    </choose>
			</if>
			<if test="sDate != null and  eDate != null and !sDate.equals('') and !eDate.equals('')">
		    	AND T.REG_DATE BETWEEN #{sDate} AND #{eDate}
			</if>
			<if test="downFlag != 1">
				AND ROWNUM <![CDATA[<=]]> 20
			</if>
			ORDER BY T.REG_DATE DESC nulls last
			
	</select>
	
	<!-- 통신원 목록 (스크롤 / 쿼리 변경 필요) -->
	<select id="selectInfrmList2" parameterType="infrmVO" resultMap="informerMap">
    SELECT T.*
	FROM (
	    SELECT T.*, ROWNUM AS RN
	    FROM (
	        SELECT J2.*, 
	               NVL(D.ORG_NAME, '무소속') AS ORG_NAME
	        FROM (
	            SELECT J1.*, 
	                   C.TYPE_NAME AS INFORMER_TYPE_NAME
	            FROM (
	                SELECT A.INFORMER_ID, 
	                       NVL(A.ACT_ID, '정보없음') as ACT_ID, 
	                       NVL(A.INFORMER_NAME, '정보없음') as INFORMER_NAME,
	                       A.AREA_CODE, 
	                       REPLACE(B.AREA_NAME, '교통방송', '') AS AREA_NAME, 
	                       CASE 
	                           WHEN PHONE_CELL IS NULL OR PHONE_CELL = '' 
	                           THEN 
	                               CASE 
	                                   WHEN PHONE_HOME IS NULL OR PHONE_HOME = '' 
	                                   THEN REGEXP_REPLACE(PHONE_OFFICE, '(02|.{3})(.+)(.{4})', '\1-\2-\3') 
	                                   ELSE REGEXP_REPLACE(PHONE_HOME, '(02|.{3})(.+)(.{4})', '\1-\2-\3')  
	                               END 
	                           ELSE REGEXP_REPLACE(PHONE_CELL, '(02|.{3})(.+)(.{4})', '\1-\2-\3') 
	                       END AS PHONE_CELL, 
	                       A.INFORMER_TYPE, 
	                       A.ORG_ID, 
	                       NVL(A.FLAG_ACT, '정보없음') as FLAG_ACT,
	                       NVL(A.REG_DATE , '정보없음') as REG_DATE, 
	                       NVL(A.ADDRESS_HOME, '미입력') AS ADDRESS_HOME
	                FROM INFORMER A
	                LEFT JOIN CODE_AREACODE B
	                ON A.AREA_CODE = B.AREA_CODE
	            ) J1
	            LEFT JOIN CODE_INFORMER_TYPE C
	            ON J1.INFORMER_TYPE = C.TYPE_ID
	        ) J2
	        LEFT JOIN ORGANIZATION D
	        ON J2.AREA_CODE = D.AREA_CODE
	        AND J2.ORG_ID = D.ORG_ID
	        AND J2.INFORMER_TYPE = D.IND_TYPE
	    ) T
	    WHERE ROWNUM <![CDATA[<]]> #{endRnum}  
	    <if test="InfrmVO.informerId != null and !InfrmVO.informerId.equals('')">
        AND T.INFORMER_ID = #{InfrmVO.informerId}
	    </if>
	    <if test="InfrmVO.areaCode != null and !InfrmVO.areaCode.equals('')">
	        AND T.AREA_CODE = #{InfrmVO.areaCode}
	    </if>
	    <if test="InfrmVO.informerType != null and !InfrmVO.informerType.equals('')">
	        AND T.informer_type = #{InfrmVO.informerType}
	    </if>
	    <if test="InfrmVO.orgId != null and !InfrmVO.orgId.equals('')">
	        AND T.ORG_ID = #{InfrmVO.orgId}
	    </if>
	    <if test="InfrmVO.flagAct != null and !InfrmVO.flagAct.equals('')">
	        AND T.FLAG_ACT = #{InfrmVO.flagAct}
	    </if>
	    <if test="InfrmVO.searchValue != null and !InfrmVO.searchValue.equals('')">
	        <choose>
	            <when test="InfrmVO.searchType.equals('actId')">
	                AND T.ACT_ID LIKE '%' || #{InfrmVO.searchValue} || '%'
	            </when>
	            <when test="InfrmVO.searchType.equals('informerName')">
	                AND T.INFORMER_NAME LIKE '%' || #{InfrmVO.searchValue} || '%'
	            </when>
	            <otherwise>
	                AND T.phone_cell LIKE '%' || #{InfrmVO.searchValue} || '%'
	            </otherwise>
	        </choose>
	    </if>
	    <if test="InfrmVO.sDate != null and InfrmVO.eDate != null and !InfrmVO.sDate.equals('') and !InfrmVO.eDate.equals('')">
	        AND T.REG_DATE BETWEEN #{InfrmVO.sDate} AND #{InfrmVO.eDate}
	    </if>
	) T
	WHERE T.RN >= #{startRnum}
	ORDER BY T.REG_DATE DESC NULLS LAST

</select>

	<!--  특정 사용자 조회 -->
	<select id="detailInformer" parameterType="infrmVO" resultMap="informerMap">
		SELECT
			A.INFORMER_ID	
			,A.ACT_ID	
			,A.ORG_ID
			,A.ORG_SUB_ID	
			,A.INFORMER_NAME	
			,A.AREA_CODE		
			,B.AREA_NAME		
			,A.PHONE_CELL
			,A.PHONE_HOME
			,A.PHONE_OFFICE
			,A.INFORMER_TYPE 	
			,C.TYPE_NAME INFORMER_TYPE_NAME
			,A.FLAG_ACT		
			,A.REG_DATE		
			,A.START_DATE	
			,A.STOP_DATE
			,A.MEMO1
			,A.MEMO
			,A.ZIPCODE
			,A.ADDRESS_HOME
			,A.ADDRESS
			,A.ZIPCODE2
			,A.ADDRESS_OFFICE
			,A.RESIDENT_NUM
			,A.BIRTHDAY
			,A.CAR_NUM
			,A.COMMENTS
			,A.REG_DATE
			,A.DEL_DATE
			,A.UPD_DATE
			,A.PHOTO_FILE
			,A.INDIVIDUAL_NAME_CHINA
			,A.CAR_TYPE
			,A.TRS_NO
			,A.LAST_SCHOOL
			,A.AREA_CODE
			,A.HONOR
			,A.AGREE
			,A.FLAG_BLACKLIST
			,A.MEMO2
			,A.IDENTIFI_DATE
			,A.FLAG_SERVICE
			,A.FLAG_BEST
			,A.START_DATE
			,A.STOP_DATE
			,A.BIRTHDAY_DIV
			,A.INFORMER_JOB
			,A.FLAG_BROAD
			,A.FLAG_ACT		
			FROM INFORMER A
			LEFT JOIN CODE_AREACODE B
			ON A.AREA_CODE=B.AREA_CODE
			LEFT JOIN CODE_INFORMER_TYPE C
			ON a.informer_type=C.TYPE_ID
			WHERE 1=1
			<if test='informerId !=null and informerId neq ""'>
				AND A.INFORMER_ID=#{informerId}
			</if>
	</select>
	
	<!-- 신규ID -->
	<select id="getNewId" parameterType="infrmVo" resultType="java.lang.String">
	    select infrm_div||TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS') as informerId 
	    from code_areacode 
	    where area_code=#{areaCode}
	</select>
	
	<select id="creActId" parameterType="infrmVo" resultType="java.lang.String">
	    SELECT NVL(max(TO_NUMBER(ACT_ID)),0)+1 as actId FROM INFORMER
	    WHERE AREA_CODE=#{areaCode} 
	    <!-- 숫자인 값만 식별(비숫자인데 연산할 경우 에러 발생) -->
	    and REGEXP_INSTR(act_id,'[^0-9]')=0
	</select>
	
	<select id="chkPhone" parameterType="infrmVo" resultType="java.lang.String">
	    SELECT distinct PHONE_CELL as phoneCell FROM INFORMER
	    WHERE PHONE_CELL=#{phoneCell}
	    <if test='informerId !=null and informerId neq ""'>
	    	AND INFORMER_ID!=#{informerId}	        
	    </if>
	</select>
	
	<!-- 사용자 등록 -->
	<insert id="saveInformer" parameterType="infrmVo">
 		INSERT INTO INFORMER
              (
				INFORMER_ID
				,ACT_ID
				,INFORMER_NAME
				,ORG_ID
				,PHONE_CELL
				,ORG_SUB_ID
				,PHONE_HOME
				,PHONE_OFFICE
				,INFORMER_TYPE
				,INFORMER_JOB
				,MEMO1
				,MEMO
				,ADDRESS
				,ADDRESS_HOME
				,ADDRESS_OFFICE
				,RESIDENT_NUM
				,BIRTHDAY
				,CAR_NUM
				,REG_DATE
				,UPD_DATE
				<if test='localFilePath !=null and localFilePath neq ""'>
				,PHOTO_FILE
				</if>
				,CAR_TYPE
				,TRS_NO
				,LAST_SCHOOL
				,AREA_CODE
				,HONOR
				,MEMO2
				,IDENTIFI_DATE
				,FLAG_SERVICE
				<if test='startDate !=null and startDate neq ""'>
				,START_DATE
				</if>
				<if test='stopDate !=null and stopDate neq ""'>
				,STOP_DATE
				</if>
				<if test='flagBest !=null and flagBest neq ""'>
				,FLAG_BEST
				</if>
				,BIRTHDAY_DIV
				,FLAG_BROAD
				,ZIPCODE
				,ZIPCODE2
             )
        VALUES
             (
			#{informerId}
			,#{actId}
			,#{informerName}
			,#{orgId}
			,#{phoneCell}
			,#{orgSubId}
			,#{phoneHome}
			,#{phoneOffice}
			,#{informerType}
			,#{informerJob}
			,#{memo1}
			,#{memo}
			,#{address}
			,#{addressHome}
			,#{addressOffice}
			,#{residentNum}
			,#{birthday}
			,#{carNum}
			,TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			,TO_CHAR(SYSDATE, 'YYYY-MM-DD')
			<if test='localFilePath !=null and localFilePath neq ""'>
			,#{localFilePath}
			</if>
			,#{carType}
			,#{trsNo}
			,#{lastSchool}
			,#{areaCode}
			,#{honor}
			,#{memo2}
			,#{identifiDate}
			,#{flagService}
			<if test='startDate !=null and startDate neq ""'>
			,#{startDate}
			</if>
			<if test='stopDate !=null and stopDate neq ""'>
			,#{stopDate}
			</if>
			<if test='flagBest !=null and flagBest neq ""'>
			,#{flagBest}
			</if>
			,#{birthdayDiv}
			,#{flagBroad}
			,#{zipcode}
			,#{zipcode2}
             ) 
	</insert>
	<!-- 통신원 변경 저장 -->
    <update id="updateInformer" parameterType="infrmVo">
        UPDATE INFORMER SET 
		AREA_CODE = #{areaCode}
		,ACT_ID = #{actId}
		,INFORMER_NAME = #{informerName}
		<if test='orgId!=null'>
		,ORG_ID = #{orgId}   
		<!-- 25-12-04 : 현재 최고통신원이 추가되면서 ORGANIZATION 테이블을 참조하여 ORG_NAME을 가져올 경우 AND 조건에 IND_TYPE을 추가해야 함 -->
		,ORG_NAME = (SELECT ORG_NAME FROM ORGANIZATION WHERE ORG_ID = #{orgId} AND AREA_CODE = #{areaCode} AND IND_TYPE = #{informerType})
		</if>
		<if test='orgSubId != null'>
		,ORG_SUB_ID = #{orgSubId}
		</if>
		,PHONE_CELL = #{phoneCell}
		<if test='informerJob != null'>
		,INFORMER_JOB = #{informerJob}
		</if>
		<if test='flagAct != null'>
		,FLAG_ACT = #{flagAct}
		</if>
		<if test='phoneHome != null'>
		,PHONE_HOME = #{phoneHome}
		</if>
		<if test='phoneOffice != null'>
		,PHONE_OFFICE = #{phoneOffice}
		</if>
		<if test='flagBroad != null'>
		,FLAG_BROAD = #{flagBroad}
		</if>
		,INFORMER_TYPE = #{informerType}
		<if test='memo != null'>
		,MEMO = #{memo}
		</if>
		<if test='memo1 != null'>
		,MEMO1 = #{memo1}
		</if>
		<if test='zipcode != null'>
		,ZIPCODE = #{zipcode}
		</if>
		<if test='address != null'>
		,ADDRESS = #{address}
		</if>
		<if test='addressHome != null'>
		,ADDRESS_HOME = #{addressHome}
		</if>
		<if test='zipcode2 != null'>
		,ZIPCODE2 = #{zipcode2}
		</if>
		<if test='addressOffice != null'>
		,ADDRESS_OFFICE = #{addressOffice}
		</if>
		<if test='residentNum != null'>
		,RESIDENT_NUM = #{residentNum}
		</if>
		<if test='birthday != null'>
		,BIRTHDAY = #{birthday}
		</if>
		<if test='carNum != null'>
		,CAR_NUM = #{carNum}
		</if>
		<if test='memo2 != null'>
		,MEMO2 = #{memo2}
		</if>
		<if test='localFilePath != null'>
		,PHOTO_FILE = #{localFilePath}
		</if>
		<if test='individualNameChina != null'>
		,INDIVIDUAL_NAME_CHINA = #{individualNameChina}
		</if>
		<if test='carType != null'>
		,CAR_TYPE = #{carType}
		</if>
		<if test='trsNo != null'>
		,TRS_NO = #{trsNo}
		</if>
		<if test='lastSchool != null'>
		,LAST_SCHOOL = #{lastSchool}
		</if>
		<if test='identifiDate != null'>
		,IDENTIFI_DATE = #{identifiDate}
		</if>
		<if test='agree != null'>
		,AGREE = #{agree}
		</if>
		<if test='birthdayDiv != null'>
		,BIRTHDAY_DIV = #{birthdayDiv}
		</if>
		<if test='honor != null'>
		,HONOR = #{honor}
		</if>
		<if test='flagService != null'>
		,FLAG_SERVICE = #{flagService}
		</if>
		<if test="flagBest != null and flagBest != ''">
		,FLAG_BEST = #{flagBest}
		</if>
        ,STOP_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
        ,UPD_DATE = TO_CHAR(SYSDATE, 'YYYY-MM-DD')
         WHERE INFORMER_ID =  #{informerId}  
    </update>
    
    <!-- 통신원 삭제 -->
    <delete id="deleteInformer" parameterType="infrmVo">
         delete from INFORMER WHERE INFORMER_ID = #{informerId}
    </delete>
	<!-- 사용자 정보 수정 -->
	<update id="saveInformerHist" parameterType="infrmVo">
        INSERT INTO INFORMER_HISTORY
              (
               INFORMER_HIST_ID,
               INFORMER_ID,
               REGION_ID,
               UPDATE_CODE,
               UPDATE_TEXT,
               UPDATE_DATE
             )
        VALUES
             (
               (SELECT TO_CHAR(SYSDATE,'YYYYMM') FROM DUAL) || LPAD(SEQ_INFORMER_HISTORY.NEXTVAL,6,'0'),
               #{informerId},
               #{areaCode},
               #{updateCode},
               #{updateText},
               TO_CHAR(SYSDATE, 'YYYY-MM-DD')
             )
    </update>
	
	 <!-- ACT ID 수정(신규로 발급 받은경우, 신규 값으로.... -->
    <!-- <update id="updateActId" parameterType="infrmVo">
        UPDATE INFORMER_ACT_ID SET
               LAST_ID = #{actId}
         WHERE REGION_ID = #{areaCode}
    </update> -->
	<!-- 이력 구분 코드 -->
    <select id="getUpdateCode" parameterType="infrmVo" resultType="java.lang.String">
        SELECT IR_COMMENT AS updateComment FROM informer_record WHERE IR_CODE=#{updateCode}
    </select>
	
     <!-- 이력 정보 -->
     <resultMap type="infrmVO" id="getInformerHistory">
		<result property="updateText" column="UPDATE_TEXT"/>
		<result property="updateDate" column="UPDATE_DATE"/>
	</resultMap>
    <select id="getInformerHistory" parameterType="infrmVo" resultMap="getInformerHistory">
        SELECT UPDATE_TEXT, UPDATE_DATE FROM INFORMER_HISTORY
         WHERE 1 = 1
         <if test='informerId !=null'>
           AND INFORMER_ID = #{informerId}
         </if>
         ORDER BY INFORMER_HIST_ID DESC
    </select>
    
    <select id="findSlice" parameterType="map" resultMap="informerMap">
<![CDATA[
SELECT * FROM (
  SELECT T.*, ROWNUM AS RN
  FROM (
    SELECT J2.*
    	 , CASE 
		        WHEN J2.FLAG_ACT_SUB = 'Y' THEN '위촉'
		        ELSE '해촉'
		    END AS FLAG_ACT
         , NVL(D.ORG_NAME, '무소속') AS ORG_NAME
    FROM (
      SELECT J1.*
           , C.TYPE_NAME AS INFORMER_TYPE_NAME
      FROM (
        SELECT A.INFORMER_ID
             , NVL(A.ACT_ID,'정보없음') AS ACT_ID
             , NVL(A.INFORMER_NAME,'정보없음') AS INFORMER_NAME
             , A.AREA_CODE
             , A.ORG_ID
             , REPLACE(B.AREA_NAME,'교통방송','') AS AREA_NAME
             , CASE WHEN A.PHONE_CELL IS NULL OR A.PHONE_CELL = ''
                    THEN CASE WHEN A.PHONE_HOME IS NULL OR A.PHONE_HOME = ''
                              THEN REGEXP_REPLACE(A.PHONE_OFFICE,'(02|.{3})(.+)(.{4})','\1-\2-\3')
                              ELSE REGEXP_REPLACE(A.PHONE_HOME  ,'(02|.{3})(.+)(.{4})','\1-\2-\3') END
                    ELSE REGEXP_REPLACE(A.PHONE_CELL ,'(02|.{3})(.+)(.{4})','\1-\2-\3')
               END AS PHONE_CELL
             , A.INFORMER_TYPE
             , A.FLAG_ACT AS FLAG_ACT_SUB
             , A.REG_DATE
             , NVL(A.ADDRESS_HOME,'미입력') AS ADDRESS_HOME
             , NVL(A.ZIPCODE,'정보없음') AS ZIPCODE
             ,A.REG_DATE AS REG_ORDER
        FROM INFORMER A
        LEFT JOIN CODE_AREACODE B ON A.AREA_CODE = B.AREA_CODE
      ) J1
      LEFT JOIN CODE_INFORMER_TYPE C ON J1.INFORMER_TYPE = C.TYPE_ID
    ) J2
    LEFT JOIN ORGANIZATION D
      ON J2.AREA_CODE = D.AREA_CODE
     AND J2.ORG_ID    = D.ORG_ID
     AND J2.INFORMER_TYPE = D.IND_TYPE
    WHERE 1=1
]]>
    <if test="vo.informerId != null and vo.informerId != ''">
      AND J2.INFORMER_ID = #{vo.informerId}
    </if>
    <if test="vo.areaCode != null and vo.areaCode != ''">
      AND J2.AREA_CODE = #{vo.areaCode}
    </if>
    <if test="vo.informerType != null and vo.informerType != ''">
      AND J2.INFORMER_TYPE = #{vo.informerType}
    </if>
    <if test="vo.orgId != null and vo.orgId != ''">
      AND J2.ORG_ID = #{vo.orgId}
    </if>
    <if test="vo.flagAct != null and vo.flagAct != ''">
      AND J2.FLAG_ACT_SUB = #{vo.flagAct}
    </if>
    <if test="vo.searchValue != null and vo.searchValue != ''">
      <choose>
        <when test="vo.searchType == 'actId'">
          AND J2.ACT_ID LIKE '%' || #{vo.searchValue} || '%'
        </when>
        <when test="vo.searchType == 'informerName'">
          AND J2.INFORMER_NAME LIKE '%' || #{vo.searchValue} || '%'
        </when>
        <otherwise>
          AND J2.PHONE_CELL LIKE '%' || #{vo.searchValue} || '%'
        </otherwise>
      </choose>
    </if>
    <if test="vo.sDate != null and vo.eDate != null and vo.sDate != '' and vo.eDate != ''">
      AND J2.REG_DATE BETWEEN #{vo.sDate} AND #{vo.eDate}
    </if>
<![CDATA[
  ) T
  WHERE ROWNUM < #{endRnum}
)
WHERE RN >= #{startRnum}
ORDER BY ${orderBy} nulls last
]]>
</select>

	<select id="countAll" parameterType="infrmVO" resultType="long">
	    SELECT COUNT(*) 
	    FROM INFORMER 
	</select>

	<select id="countFiltered" parameterType="infrmVO" resultType="long">
		<![CDATA[
		SELECT count(*) FROM (
		  SELECT T.*, ROWNUM AS RN
		  FROM (
		    SELECT J2.*
		    , CASE 
		        WHEN J2.FLAG_ACT_SUB = 'Y' THEN '위촉'
		        ELSE '해촉'
		    END AS FLAG_ACT
		         , NVL(D.ORG_NAME, '무소속') AS ORG_NAME
		    FROM (
		      SELECT J1.*
		           , C.TYPE_NAME AS INFORMER_TYPE_NAME
		      FROM (
		        SELECT A.INFORMER_ID
		             , NVL(A.ACT_ID,'정보없음') AS ACT_ID
		             , NVL(A.INFORMER_NAME,'정보없음') AS INFORMER_NAME
		             , A.AREA_CODE
		             , A.ORG_ID
		             , REPLACE(B.AREA_NAME,'교통방송','') AS AREA_NAME
		             , CASE WHEN A.PHONE_CELL IS NULL OR A.PHONE_CELL = ''
		                    THEN CASE WHEN A.PHONE_HOME IS NULL OR A.PHONE_HOME = ''
		                              THEN REGEXP_REPLACE(A.PHONE_OFFICE,'(02|.{3})(.+)(.{4})','\1-\2-\3')
		                              ELSE REGEXP_REPLACE(A.PHONE_HOME  ,'(02|.{3})(.+)(.{4})','\1-\2-\3') END
		                    ELSE REGEXP_REPLACE(A.PHONE_CELL ,'(02|.{3})(.+)(.{4})','\1-\2-\3')
		               END AS PHONE_CELL
		             , A.INFORMER_TYPE
		             , A.FLAG_ACT AS FLAG_ACT_SUB
		             , NVL(A.REG_DATE,'정보없음') AS REG_DATE
		             , NVL(A.ADDRESS_HOME,'미입력') AS ADDRESS_HOME
		             , NVL(A.ZIPCODE,'정보없음') AS ZIPCODE
		             ,A.REG_DATE AS REG_ORDER
		        FROM INFORMER A	
		        LEFT JOIN CODE_AREACODE B ON A.AREA_CODE = B.AREA_CODE
		      ) J1
		      LEFT JOIN CODE_INFORMER_TYPE C ON J1.INFORMER_TYPE = C.TYPE_ID
		    ) J2
		    LEFT JOIN ORGANIZATION D
		      ON J2.AREA_CODE = D.AREA_CODE
		     AND J2.ORG_ID    = D.ORG_ID
		     AND J2.INFORMER_TYPE = D.IND_TYPE
		    WHERE 1=1
		]]>
		    <if test="informerId != null and informerId != ''">
		      AND J2.INFORMER_ID = #{informerId}
		    </if>
		    <if test="areaCode != null and areaCode != ''">
		      AND J2.AREA_CODE = #{areaCode}
		    </if>
		    <if test="informerType != null and informerType != ''">
		      AND J2.INFORMER_TYPE = #{informerType}
		    </if>
		    <if test="orgId != null and orgId != ''">
		      AND J2.ORG_ID = #{orgId}
		    </if>
		    <if test="flagAct != null and flagAct != ''">
		      AND J2.FLAG_ACT_SUB = #{flagAct}
		    </if>
		    <if test="searchValue != null and searchValue != ''">
		      <choose>
		        <when test="searchType == 'actId'">
		          AND J2.ACT_ID LIKE '%' || #{searchValue} || '%'
		        </when>
		        <when test="searchType == 'informerName'">
		          AND J2.INFORMER_NAME LIKE '%' || #{searchValue} || '%'
		        </when>
		        <otherwise>
		          AND J2.PHONE_CELL LIKE '%' || #{searchValue} || '%'
		        </otherwise>
		      </choose>
		    </if>
		    <if test="sDate != null and eDate != null and sDate != '' and eDate != ''">
		      AND J2.REG_DATE BETWEEN #{sDate} AND #{eDate}
		    </if>
		<![CDATA[
		  ) T
		)
		]]>
	</select>
	
	
</mapper>